@model IEnumerable<Setting>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Time</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @*<td>@Model.EndTime</td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

